*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #dddddd;
}

header {
  background-color: #1973cd;
  height: 300px;
}

header h1 {
  font-size: 3.8rem;
  text-align: center;
  color: #ff8f00;
  padding-top: 50px;
}

nav ul {
  list-style: none;
  width: 800px;
  margin: 30px auto 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #dddddd;
}

nav li a:hover {
  color: #bbbbbb;
}

main {
  min-height: 300px;
  padding: 2rem;
}

main h2 {
  color: #1973cd;
  font-size: 1.5rem;
  margin-top: 80px;
  padding-bottom: 20px;
}

main p {
  width: 600px;
  line-height: 30px;
}

footer {
  border-top: 2px solid #aaaaaa;
  height: 300px;
  text-align: center;
  padding-top: 20px;
}

footer a {
  text-decoration: none;
}

.img-small {
  width: 320px;
  height: 250px;
  margin-top: 100px;
  border-radius: 3px;
}

.img-large {
  width: 640px;
  height: 480px;
  margin-top: 100px;
  border-radius: 3px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

main h3 {
  color: #1973cd;
  text-align: center;
  font-size: 1.5rem;
}

.reviews {
  width: 600px;
  margin: 0 auto 100px auto;
  border: 1px solid #aaaaaa;
  padding: 5%;
}

.reviews p {
  max-width: 400px;
  margin: 20px auto;
  line-height: 30px;
}

.reviews button {
  background-color: blue;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px;
  height: 75px;
}

.map {
  text-align: center;
  font-size: 2.2rem;
}

.resource-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 80px auto 0 auto;
  max-width: 900px;
}

.resource-list img {
  height: 200px;
  width: 200px;
}

.title {
  text-align: center;
  font-size: 2.2rem;
}

.page-resource {
  padding: 120px;
}

.iframe {
  display: block;
  text-align: center;
  margin: 80px 0;
}

.iframe-form {
  display: block;
  text-align: center;
}
